/* Styles for the maintenance page */
.maintenance {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.maintenance-item {
    margin-bottom: 20px;
}

.maintenance-item img {
    max-width: 100%;
    height: auto;
}

.maintenance-link {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    border: 1px solid #007BFF;
    border-radius: 5px;
}

.maintenance-link:hover {
    background-color: #007BFF;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom, #FFA500, #000000);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
}

header img {
    max-height: 50px;
    margin-right: 10px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #FFA500;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search-button {
    padding: 10px;
    background-color: #FFA500;
    border: 1px solid #FFA500;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

#search-button img {
    height: 20px;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recipe {
    background-color: #fff;
    border: 1px solid #FFA500;
    margin: 1em;
    padding: 1em;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe img {
    max-width: 100%;
    border-bottom: 1px solid #FFA500;
}

.hidden {
    display: none;
}

.recipe-info {
    padding: 10px;
    text-align: center;
}

.description {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

.label {
    display: inline-block;
    background-color: #FFA500;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    justify-content: center;
}

.rating .icon-star, .rating .icon-star-empty {
    font-size: 1.5em;
    color: gold;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.social img {
    width: 24px;
    margin: 0 5px;
}

@media (max-width: 600px) {
    .recipe img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    #search-input {
        width: 70%;
    }
}
